name: CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Check
        uses: leanprover/lean-action@v1
        with:
          # This automatically installs the version in lean-toolchain
          # and runs 'lake build'
          build_args: ""
